{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": "> 5%",
          "node": "12"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties"
  ]
}
